---
import { Image } from 'astro:assets';
import tLogo from '../assets/TolstoyTbg.svg';
---

<div id="container">
	<main>
		<section id="hero">
			<Image src={tLogo}
			alt="The letter T as a decoratitive drop cap"
			loading="eager"
			format="webp"
			width="180"
			height="180"
			 />
			<h1>
				The life and works of Leo Tolstoy. Coming 2028.
			</h1>
		</section>
	</main>
</div>

<style>
 body {
	 background-color: #121738;
 }

	#container {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	main {
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 1.25em;
	}
</style>
